@font-face {
    font-family: GothamBlack;
    src: url(../fonts/GothamBlack.otf)
}

@font-face {
    font-family: GothamBold;
    src: url(../fonts/GothamBold.otf)
}

@font-face {
    font-family: GothamBoldItalic;
    src: url(../fonts/GothamBoldItalic.ttf)
}

@font-face {
    font-family: GothamBook;
    src: url(../fonts/GothamBook.otf)
}

@font-face {
    font-family: GothamExtraLight;
    src: url(../fonts/GothamExtraLight.otf)
}

@font-face {
    font-family: GothamExtraLightItalic;
    src: url(../fonts/GothamExtraLightItalic.otf)
}

@font-face {
    font-family: GothamItalic;
    src: url(../fonts/GothamItalic.otf)
}

@font-face {
    font-family: GothamItalicBold;
    src: url(../fonts/GothamItalicBold.otf)
}

@font-face {
    font-family: GothamLight;
    src: url(../fonts/GothamLight.otf)
}

@font-face {
    font-family: GothamMedium;
    src: url(../fonts/GothamMedium.otf)
}

@font-face {
    font-family: GothamRegular;
    src: url(../fonts/GothamRegular.otf)
}

@font-face {
    font-family: GothamThin;
    src: url(../fonts/GothamThin.otf)
}

@font-face {
    font-family: GothamThinItalic;
    src: url(../fonts/GothamThinItalic.otf)
}

@font-face {
    font-family: GothamUltra;
    src: url(../fonts/GothamUltra.otf)
}

.GothamBlack {
    font-family: GothamBlack
}

.GothamBold {
    font-family: GothamBold
}

.GothamBoldItalic {
    font-family: GothamBoldItalic
}

.GothamBook {
    font-family: GothamBook
}

.GothamExtraLight {
    font-family: GothamExtraLight
}

.GothamExtraLightItalic {
    font-family: GothamExtraLightItalic
}

.GothamItalic {
    font-family: GothamItalic
}

.GothamItalicBold {
    font-family: GothamItalicBold
}

.GothamLight {
    font-family: GothamLight
}

.GothamMedium {
    font-family: GothamMedium
}

.GothamRegular {
    font-family: GothamRegular
}

.GothamThin {
    font-family: GothamThin
}

.GothamThinItalic {
    font-family: GothamThinItalic
}

.GothamUltra {
    font-family: GothamUltra
}

.dark_secondary {
    color: #5c5c61 !important
}

.txt_blue {
    color: #0065a1 !important
}

.txt_orange {
    color: #ef7622 !important
}

body,
html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    line-height: 1.1
}

body {
    display: flex;
    flex-direction: column;
    width: 2048px;
    height: 1536px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

img {
    max-height: 1536px
}

.container_xxl {
    padding-left: 40px;
    padding-right: 30px
}

.page1_header {
    background: url(../img/page1_bg.svg) no-repeat;
    background-size: cover;
    background-position: top;
    padding-top: 26vh;
    position: relative;
}

.page1_header_two {
    min-height: 927px
}

.page1_header .page1_box_1 {
    color: #ef7622;
    font-weight: 700;
    font-family: GothamBold;
    margin-bottom: 2vh;
    margin-left: 5px
}

.page1_box_2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: GothamBold;
    color: #fff;
    text-shadow: -3px 3px 16px #ef7722d7;
    margin-bottom: 6vh;
    margin-left: 70px;
    margin-right: 70px;
    font-size: 97px
}

.page1_box_2 span {
    display: block;
    height: 30px;
    flex: 1
}

.page1_box_3 {
    text-shadow: 3px 2px 8px rgba(0, 0, 0, .432);
    font-size: 23px
}

.footer_page1 {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    padding-top: 14px
}

.footer_inner1 {
    width: 90%;
    margin-left: 70px;
}

.fs-13 {
    font-size: 13px !important
}

.footer_inner1 h5 {
    color: #ef7622;
    border-bottom: 2px solid #ef7622
}

.footer_inner1 p {
    color: #5c5c64
}

.footer_inner_nav1 {
    position: absolute;
    color: black;
    bottom: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    background: #fff;
    padding: 15px 52px;
    border-radius: 80px 0 0 0;
    display: flex;
    flex-direction: column;
    -webkit-border-radius: 80px 0 0 0;
    -moz-border-radius: 80px 0 0 0;
    -ms-border-radius: 80px 0 0 0;
    -o-border-radius: 80px 0 0 0;
}

.center{
    top: 50%;
    transform: translate(10%,30%);
}

.footer_inner_nav1 img {
    width: 14vw
}

.footer_inner_nav1 ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 0
}

.footer_inner_nav1 ul li:not(:last-child) {
    margin-right: 5px;
}

.footer_inner_nav1 li a {
    color: #fff;
    background: linear-gradient(135deg, #0065a1 50%, #002865 50%);
    text-decoration: none;
    font-size: 12px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    font-family: GothamLight
}

.footer_inner_nav1 li a img {
    width: 55%
}

.footer_inner_nav1 .page_1_copy {
    display: block;
    font-size: 10px;
    text-align: center;
    margin-left: 33px;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
    font-family: GothamLight
}

.cross_icon_close {
    position: absolute;
    top: 3%;
    z-index: 9999;
    left: 20%
}

.cross_icon_close img {
    max-width: 50px
}

.main_page4 {
    min-height: 100vh;
    background: url(../img/page4_bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center
}

.nav_page4 {
    padding-top: 27px;
    padding-bottom: 4vh;
    display: flex;
    justify-content: flex-end
}

.nav_page4 img {
    width: 14vw
}

.page4_list {
    width: 40%;
    background-color: #00639f;
    padding: 20px 40px;
    padding-bottom: 25px;
    margin-left: auto;
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    -o-border-radius: 10px 0 0 10px
}

.page4_list ul {
    list-style: none;
    padding-left: 0
}

.page4_list ul li a {
    display: flex;
    text-decoration: none
}

.page4_list ul li a .page4_link_left {
    border-bottom: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    flex: 1;
    padding-left: 10px;
    font-size: 9px;
    font-weight: 700;
    padding-top: 7px
}

.page4_list ul li a .page4_link_left em {
    color: #e0e0e0;
    margin-right: 5px
}

.page4_list ul li a .page4_link_right {
    font-size: 14px;
    color: #002763;
    border: 2px solid #dadada;
    width: 27px;
    height: 27px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center
}

.page4_list ul li a .page4_link_right i {
    color: #fff
}

.footer_page4 {
    background: 0 0
}

.page_5 {
    min-height: 100vh
}

.nav_orange {
    display: flex;
    box-shadow: 0 1px 5px #00000038;
    height: 125px;
    border-bottom: #bbb3b3 2px solid
}

.nav_orange_left {
    width: 1074px;
    background-color: #ef7622;
    padding: 2% 6%
}

.nav_orange_left h4 {
    color: #fdfafe
}

.nav_orange_left h4 sup {
    font-size: 13px
}

.nav_orange_right {
    width: 25%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center
}

.nav_orange_right img {
    height: 70px
}

.page5_middle_box {
    display: flex;
    align-items: center;
    padding-left: 6%;
    padding-right: 6%;
    max-height: 350px
}

.page5_box_1 {
    width: 12%;
    border: 2px solid #f7ba91;
    background-color: #f2f1f1;
    padding: 3% .8%;
    margin-right: 1.2%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-size: 12px
}

.page5_box_1 p {
    color: #66666f;
    line-height: 1.3
}

.page5_box_2 {
    width: 15%;
    border: 2px solid #f7ba91;
    background-color: #f2f1f1;
    padding: 3% .8%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    position: relative
}

.page5_box_2::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -9%;
    width: 7.8%;
    height: 2px;
    background-color: #f7ba91;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%)
}

.page5_box_2::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -10%;
    width: 9%;
    height: 2px;
    background-color: #f7ba91;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%)
}

.page5_box_2 p {
    color: #66666f;
    line-height: 1.3;
    font-size: 12px
}

.page5_box_2_child {
    min-height: 65px;
    background-color: #fff;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 3% 10%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .13), 2px 0 6px rgba(0, 0, 0, .116);
    display: flex;
    align-items: center;
    justify-content: center
}

.page5_box_3 {
    width: fit-content;
    border: 2px solid #ef7622;
    background-color: #ef7622;
    padding: 4% .7%;
    margin-left: 1.2%;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    position: relative
}

.page5_box_3 p {
    color: #fff;
    transform: rotate(-180deg);
    writing-mode: vertical-lr;
    transform-origin: center center;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg)
}

.page5_box_4 {
    width: 48%;
    border: 2px solid #f7ba91;
    padding: .7%;
    margin-left: 1.2%;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    position: relative
}

.page5_box_4::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -2.8%;
    width: 2.6%;
    height: 2px;
    background-color: #f7ba91;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%)
}

.page5_box_4::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -3%;
    width: 3%;
    height: 2px;
    background-color: #f7ba91;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%)
}

.page5_box_4_p_white {
    color: #fff
}

.page5_box_4_p_orange {
    color: #ef7622;
    font-size: 12px
}

.page5_box_4_bottom,
.page5_box_4_top {
    width: 100%;
    background-color: #ef7622;
    padding: 4%;
    padding-top: 0;
    border-radius: 16px 16px 0 0;
    -webkit-border-radius: 16px 16px 0 0;
    -moz-border-radius: 16px 16px 0 0;
    -ms-border-radius: 16px 16px 0 0;
    -o-border-radius: 16px 16px 0 0
}

.page5_box_4_bottom {
    background-color: #bdbbbb;
    border-radius: 0 0 16px 16px;
    -webkit-border-radius: 0 0 16px 16px;
    -moz-border-radius: 0 0 16px 16px;
    -ms-border-radius: 0 0 16px 16px;
    -o-border-radius: 0 0 16px 16px
}

.page5_box_4_bottom>div,
.page5_box_4_top>div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px
}

.page5_box_4_bottom>div>div,
.page5_box_4_top>div>div {
    padding: 6px;
    background-color: #fff;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 0 2px 2px rgb(0 0 0 / 13%), 2px 0 6px rgb(0 0 0 / 12%);
    display: flex;
    flex-direction: column;
    align-items: center
}

.page5_box_4_bottom>p,
.page5_box_4_top>p {
    font-size: 10px
}

.page5_box_4_bottom>div>div p,
.page5_box_4_top>div>div p {
    color: #0065a1;
    font-size: 10px
}

.page5_box_5 {
    flex: 1;
    margin-left: 2.3%
}

.page5_box5_child1,
.page5_box5_child2 {
    width: 100%;
    border: 2px solid #f7ba91;
    background-color: #f2f1f1;
    padding: 4%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    position: relative
}

.page5_box5_child2 {
    padding: 0;
    border: 0
}

.page5_box5_child1::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -8%;
    width: 8%;
    height: 2px;
    background-color: #f7ba91;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%)
}

.page5_box5_child2::after {
    content: "";
    position: absolute;
    top: 40%;
    left: -7%;
    width: 7%;
    height: 2px;
    background-color: #f7ba91;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%)
}

.page5_box5_child2::before {
    content: "";
    position: absolute;
    top: -33.3%;
    left: -7%;
    width: 1%;
    height: 73.8%;
    background-color: #f7ba91
}

.page5_box_5 p {
    color: #66666f;
    font-size: 14px;
    line-height: 1.3
}

.page5_box5_child2>div {
    background-color: #5c5c61;
    padding: 5%;
    border-radius: 0 0 14px 14px;
    -webkit-border-radius: 0 0 14px 14px;
    -moz-border-radius: 0 0 14px 14px;
    -ms-border-radius: 0 0 14px 14px;
    -o-border-radius: 0 0 14px 14px;
    border: 2px solid #5c5c61;
    border-top: 0
}

.page5_box5_child2>div p {
    color: #fff
}

.page5_box5_child2>div:first-child {
    background-color: #f2f1f1;
    padding: 5%;
    border-radius: 14px 14px 0 0;
    -webkit-border-radius: 14px 14px 0 0;
    -moz-border-radius: 14px 14px 0 0;
    -ms-border-radius: 14px 14px 0 0;
    -o-border-radius: 14px 14px 0 0;
    border: 2px solid #f7ba91;
    border-bottom: 0
}

.page5_box5_child2>div:first-child p {
    color: #fff
}

.page5_btns_sm {
    display: flex;
    height: 20px
}

.page5_btns_sm>a {
    background: #0065a1;
    padding: 6px 14px;
    min-width: 70px;
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    height: 25px
}

.page5_btns_sm>a:not(:last-child) {
    margin-right: 3px
}

.page5_btns_sm>a::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 33px;
    height: 25px;
    background: linear-gradient(-45deg, #002865 50%, transparent 50%)
}

.page5_btns_sm>a p {
    font-size: 10px;
    color: #fff;
    z-index: 9;
    font-weight: 700
}

.page5_p_sm {
    width: 65vw;
    color: #5c5c64
}

.page5_p_sm p {
    font-size: 7px
}

.footer_page5 {
    background: url(../img/page5_footer_bg.svg) no-repeat;
    background-size: cover;
    background-position: bottom right;
    padding-bottom: 20px;
    padding-left: 1.7%;
    padding-right: 1.6%
}

.page5_btns_md {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3px;
    flex-wrap: wrap;
    width: 86%
}

.page5_btns_md>a {
    background: #0065a1;
    padding: 6px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 34px;
    cursor: pointer;
    text-decoration: none
}

.page5_btns_md>a::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 100%;
    background: linear-gradient(-45deg, #002865 50%, transparent 50%)
}

.page5_btns_md>a p {
    font-size: 10px;
    color: #fff;
    z-index: 9;
    line-height: 1.2;
    font-weight: 700;
    text-align: center
}

.border_top_orange_1 {
    border-top: 1px solid #ef7622
}

.fs-10 {
    font-size: 10px !important
}

.page8_middle_box {
    padding-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between
}

.page8_middle_left,
.page8_middle_right {
    width: 47%;
    border-top: 2px solid #f7ba91;
    padding-top: 8px
}

.fs_12 {
    font-size: 9px
}

.page8_middle_box_p {
    font-size: 16px;
    line-height: 1.4
}

.page8_middle_box_p span {
    font-family: GothamMedium;
    font-size: 16px
}

.page21_middle_box {
    display: flex
}

.page21_middle_left {
    width: 56%
}

.justify {
    text-align: justify
}

.yellowBorderTop {
    border-top: 2px solid #f7ba91
}

.page21_middle_left {
    padding-top: 8px
}

.fs_7 {
    font-size: 7px !important
}

.page21_blue {
    border-left: 4px solid #0065a1;
    padding-left: 10px;
    background-color: #b3d1e3;
    color: #0065a1;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px
}

.refTitle {
    font-size: 12px
}

.page21_table_header {
    display: flex;
    align-items: center;
    position: relative;
    background: linear-gradient(to right, transparent, #d3dbe7 70%)
}

.page21_table_header::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, #63a4c0, #4e94b5)
}

.page21_table_header::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, #8c8c8e, #5f5f62)
}

.page21_table_row {
    display: flex;
    align-items: flex-end;
    position: relative
}

.p21_tcol_1 {
    width: 20%
}

.p21_tcol_1 p {
    font-size: 15px
}

.p21_tcol_2 {
    width: 16%
}

.p21_tcol_3 {
    width: 16%
}

.p21_tcol_4 {
    width: 16%
}

.p21_tcol_5 {
    width: 16%
}

.p21_tcol_6 {
    width: 16%
}

.p21_tcol_2,
.p21_tcol_3,
.p21_tcol_4,
.p21_tcol_5,
.p21_tcol_6,
.page21_table>p,
.page21_table_row .p21_tcol_1>p {
    font-size: 13px;
    text-align: center
}

.p21_tcol_6 {
    text-align: right;
    padding-right: 10px
}

.page21_middle_right {
    width: 36%;
    position: absolute;
    top: 26%;
    right: 0
}

.page21_blue_box {
    position: relative;
    background-color: #0065a1;
    color: #fff;
    padding: 20px;
    font-family: GothamExtraLight;
    border-radius: 25px 0 0 25px;
    -webkit-border-radius: 25px 0 0 25px;
    -moz-border-radius: 25px 0 0 25px;
    -ms-border-radius: 25px 0 0 25px;
    -o-border-radius: 25px 0 0 25px
}

.page21_blue_box::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    width: 50px;
    height: 50px;
    background: url(../img/shape21.svg) no-repeat;
    background-size: 100% 100%
}

.page21_blue_box p {
    position: relative;
    z-index: 1
}

.page23_middle_left {
    width: 65%
}

.page23_middle_right {
    top: 40%;
    width: 30%
}

.page25_middle_box {
    display: flex;
    justify-content: space-between
}

.page25_middle_left,
.page25_middle_right {
    width: 48%;
    border-top: 2px solid #f7ba91;
    padding-top: 8px
}

.fs_14 {
    font-size: 14px
}

.page28_middle_left {
    width: 80%
}

.page28_middle_left>div {
    width: 74%
}

.page31_middle_left {
    width: 74%
}

.page_31_table thead tr th {
    padding-top: 5px;
    padding-bottom: 5px
}

.page_31_table tbody tr td {
    padding-top: 4px;
    padding-bottom: 4px
}

.page_31_table tbody tr:not(:last-child) {
    border-bottom: 1px solid #cce0ec
}

.page31_middle_right {
    width: 25%;
    top: 40%
}

.table_td_bg_red {
    background-color: #fce4d3
}

.table_td_bg_blue {
    background-color: #e6f0f6
}

.table_td_bg_blue_imp {
    background-color: #e6f0f6 !important
}

.table_td_bg_blue2 {
    background-color: #cce0ec
}

.page34_middle_left {
    width: 62%
}

.page34_middle_right {
    top: 25%;
    width: 34%
}

.page36_middle_box {
    display: flex;
    align-items: flex-start;
    width: 90%;
    margin: 0 auto;
    padding-top: 15px
}

.page36_middle_box>img {
    width: 11%
}

.page36_middle_box>div {
    flex: 1;
    margin-right: 10%;
    border-top: 2px solid #f7ba91;
    padding-top: 6px;
    margin-top: 16px;
    padding-bottom: 16px
}

.page21_blue_box2 {
    background: 0 0
}

.page21_blue_box2::after {
    display: none
}

.page38_middle_right {
    top: 30%
}

.btn_sm_plus {
    position: relative
}

.btn_sm_plus span {
    position: absolute;
    top: -16px;
    left: -16px;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0065a1;
    border: 2px solid #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, .178);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px
}

.btn_sm_plus span i {
    color: #fff;
    font-size: 12px
}

.page3 {
    min-height: 100vh;
    position: relative
}

.p7_p0 p {
    margin-bottom: 0
}

.right_shape {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%
}

.right_shape>img {
    height: 100%
}

.right_shape>img {
    height: 100vh
}

.footer_inner_nav1_modified_reff {
    right: 7px !important;
    padding-bottom: 15.5px !important;
    padding-right: 2.5px !important
}

.page1_header_two {
    min-height: 768px
}

.footer_inner_nav1 {
    margin: 0 !important;
    margin-left: 16px !important
}

.right_shape_p16 {
    position: relative;
    right: 0;
    top: 0;
    height: 100vh;
    width: 310px
}

.p_max_top {
    padding: 120px 0
}

.txt_silver {
    color: #5c5c61
}

.txt_orange {
    color: #ef7622
}

.txt_blue {
    color: #0065a1
}

.fw_500 {
    font-weight: 500
}

.p9_table_wrapper {
    width: 60%;
    border-top: 1px solid #0065a1
}

.p9_table_1st_row {
    background: linear-gradient(-90deg, #839fc7, transparent);
    border-top: 2px solid #ef7622;
    font-family: GothamMedium;
    color: #fff
}

.p9_table_nrow {
    background: #fff;
    position: relative;
    margin-top: 1px;
    padding-left: 5px
}

.p9_table_nrow::before {
    content: "";
    position: absolute;
    left: 0;
    top: -2px;
    width: 100%;
    height: 37px;
    background: linear-gradient(-90deg, #5c5c61, transparent);
    z-index: -9
}

.p9_row_bg_silver {
    background: #f2f1f1
}

.p9_col_left {
    width: 75%
}

.p9_col_right {
    width: 20%
}

.p12_graph_before_heading {
    height: 50px
}

.p13_table {
    border-bottom: 1px solid #0065a1
}

.p19_w_70 {
    width: 70%
}

.p19_table_row_left {
    width: 28%;
    margin-left: 2%
}

.p19_table_row_right {
    width: 19%;
    margin-left: 1%
}

.p19_table_row_border_t {
    border-top: 1px solid #0065a1
}

.w_heading {
    width: 65%;
    border-top: 1px solid #ef7622
}

.p22_card_wrapper_border_bottom {
    width: fit-content;
    margin: auto;
    padding: 0 20px 5px 20px;
    border-bottom: 1px solid
}

.p22_card_wrapper {
    background: #f5f4f4;
    padding: 20px 0;
    box-shadow: 2px 2px 5px 0 #00000059;
    border-radius: 12px
}

.p29_grids_heading {
    background: #f5f4f4;
    padding: 15px;
    border-radius: 20px 20px 0 0;
    box-shadow: 3px -2px 3px -3px #a5a5a5, -3px 1px 3px -3px #a5a5a5;
    z-index: 999;
    position: relative
}

.p29_grid_wrapper_item {
    background: #f5f4f4;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 20px;
    box-shadow: 0 5px 4px -2px #a5a5a5
}

.p29_grid_item_top {
    background: #0065a1;
    color: #fff;
    font-family: GothamLight;
    padding: 3px;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto
}

.p29_grid_item_top_orange {
    background: #ef7622
}

.border_bottom_2_blue {
    border-bottom: 2px solid #0065a1
}

.border_bottom_2_orange {
    border-bottom: 2px solid #ef7622
}

.p29_grid_radius_left {
    border-bottom-left-radius: 20px;
    box-shadow: 0 5px 4px -2px #a5a5a5, -2px -8px 5px -3px #a5a5a5
}

.p29_grid_radius_right {
    border-bottom-right-radius: 20px;
    box-shadow: 0 5px 4px -2px #a5a5a5, 2px -9px 5px -2px #a5a5a5
}

.border_bottom_orange_1 {
    border-bottom: 1px solid #ef7622
}

.p32_w_60 {
    width: 60%
}

.p32_graph_w_40 {
    width: 40%
}

.p32_w_20 {
    width: 20%
}

.p32_rotate_text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    font-family: GothamMedium;
    color: #5c5c61
}

.p32_rotate_text>p {
    transform: rotate(-180deg);
    writing-mode: vertical-lr;
    transform-origin: center center;
    font-size: 12px;
    margin-bottom: -40px
}

.p32_graph_heading {
    height: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
    font-family: GothamBold;
    color: #5c5c61;
    font-size: 12px
}

.p32_before_blue {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #0065a1;
    border-radius: 50%
}

.p32_before_orange {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #ef7622;
    border-radius: 50%
}

.txt_silver_light {
    color: #bdbbbb
}

.footer_inner2 {
    width: 85%
}

.height_fit_content {
    height: fit-content
}

.page_39_div {
    display: flex;
    align-items: center
}

.page_39_div_1 {
    width: 14%;
    min-height: 185px;
    display: flex;
    align-items: center;
    border: 2px solid #f7ba91;
    background-color: #f2f1f1;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    padding: 1.5% 1%
}

.page_39_div_2 {
    width: 12%;
    min-height: 185px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    padding: 2% 1.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.page_39_div_3 {
    width: 17%;
    border: 2px solid #f7ba91;
    background-color: #f2f1f1;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    padding: 1.5% 1%
}

.page_39_div_4 {
    margin-left: 1.4%;
    margin-right: 1.4%
}

.page_39_div_4 img {
    width: 28px
}

.fs_15 {
    font-size: 15px
}

.page_39_div_5 {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 46%;
    border: 2px solid #f7ba91;
    background-color: #fff;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    padding: 1.5% 1%
}

.page_39_div_5>p {
    position: absolute;
    top: -34px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    color: #ef7622;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%)
}

.page_39_div_5>div {
    width: 30%
}

.page_39_div_5 i {
    color: #a6a6a9;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto
}

.z_index9 {
    z-index: 9;
    position: relative
}

@media (max-width:1500px) {
    .p7_px {
        padding-right: 100px
    }
}

.mb-2 {
    margin-bottom: .3rem !important
}

.content {
    height: 735px;
    padding-top: 2rem
}

.my-5 {
    margin-top: 0 !important
}

.py-2 {
    padding-top: 4px !important;
    padding-bottom: 4px !important
}

.GothamBold.txt_orange {
    font-size: 22px
}

.fs-11 {
    font-size: 11px !important
}

.fs-12 {
    font-size: 12px !important
}

.txt_orange.GothamBook {
    font-size: 21px
}

.footer_inner1 .fs_12 {
    font-size: 8px !important
}

.p9_table * {
    font-size: 10px !important
}

.p9_table .py-2 {
    padding-top: 3px !important;
    padding-bottom: 3px !important
}

.nav_orange_left h4.GothamBook {
    font-size: 21px
}

.page1_box_1.text-uppercase {
    font-size: 18px
}

.imgCircleCtrl img {
    max-width: 70%;
    margin: 0 auto
}

.imgCircleCtrl {
    text-align: center
}

.mtUp {
    margin-top: 15px
}

.footer_inner_nav1 {
    padding: 15px 15px;
    padding-right: 25px
}

.footer_page1 .footer_inner1 {
    width: 67%
}

.footer_page1 .GothamLight {
    font-size: 11px
}

.page1_box_3 {
    font-size: 17.88px
}

.page1_box_2 {
    font-size: 77px;
    padding-right: 18px
}

.page1_header {
    padding-top: 21vh
}

.fixedHeight {
    height: 768px !important;
    overflow: hidden;
    max-height: 768px !important
}

.removeBreakLine br {
    display: none
}

.removeBreakLine {
    max-width: 1000px
}

.fontSize15 * {
    font-size: 15px;
    line-height: 1.3
}

.fs-7 {
    font-size: 7px !important
}

.bigLineHight {
    line-height: 1.83 !important
}

.mainTitle {
    font-size: 21px !important
}

.midLineHight {
    line-height: 1.5 !important;
    text-align: justify
}

.smlLineHight {
    line-height: 1.4 !important;
    text-align: justify
}

.miniLineHight {
    line-height: 1.3 !important;
    text-align: justify
}

.fs-14 {
    font-size: 14px
}

.fs-15 {
    font-size: 15px
}

.controllBtnPosition {
    margin-top: 141px !important
}

.controllBtnPosition-2 {
    margin-top: 135px !important
}

.graph21Ctrl {
    max-height: 190px;
    width: 100%
}

.controlImgSize img {
    max-height: 215px
}

.positionCtrl {
    position: absolute;
    top: -72px
}

.bold {
    font-weight: 700
}